body {
	background-image: url(../img/dev.png);
}

h2 ~ p {
	color: blue;
}

main {
	font-size: 1em;
}

p {
	/*
	font-size: 1em;
	font-family: 'Mulish', sans-serif;
	font-weight: normal;
	font-style: italic;
	*/
	font: bold italic 1em Century;
	text-align: justify;
	text-transform: none;
	line-height: 1.5;
}

main p {
	font-size: 1em;
}

h2 {
	text-decoration: underline;
	text-align: center;
	text-transform: lowercase;
}

a:link {
	text-decoration: none;
	color: red;
}

a:visited {
	color: thistle;
}

a:hover {
	text-decoration: underline;
	color: lightsalmon;
}

article {
	/*
	background-image: radial-gradient(circle,pink,yellow,purple);
	*/
}

article h2 {
	background-color: #333333;
	color: white;
}
	
