body {
	/*
	background-image: url(../img/dev.png);
	background-size: 10%;
	background-repeat: no-repeat;
	background-position: 20% 5px;
	*/
	background: url(../img/dev.png) left 5%/5% repeat-x;
}

header {
	background-color: lightyellow;
	position: fixed;
	/*
	position: sticky;
	position: -webkit-sticky;
	*/
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
}

article p {
	color: blue;
	margin: 0;
	margin: 10px 25px;
}

main {
	font-size: 1em;
	position: relative;
	top: 100px;
}

footer {
	position: relative;
	top: 100px;
}

#move {
	position: relative;
	left: 250px;
}

p {
	/*
	font-size: 1em;
	font-family: 'Mulish', sans-serif;
	font-weight: normal;
	font-style: italic;
	*/
	font: bold italic 1em Century;
	text-align: justify;
	text-transform: none;
	line-height: 1.5;
}

main p {
	font-size: 1em;
}

h2 {
	text-decoration: underline;
	text-align: center;
	text-transform: lowercase;
	margin: 0;
	margin-bottom: 10px;
}

a:link {
	text-decoration: none;
	color: red;
}

a:visited {
	color: thistle;
}

a:hover {
	text-decoration: underline;
	color: lightsalmon;
}

article {
	border: solid red 5px;
	border-radius: 20px 20px 0 0;
	box-shadow: 0 0 5px 5px lightblue;
	margin: 35px;
	padding: 5px;
	/*
	border-width: 5px 10px 15px;
	border-color: red orange yellow pink;
	border-style: solid dotted dashed groove;
	border-style: solid;
	border-color: red;
	border-width: 5px;
	background-image: radial-gradient(circle,pink,yellow,purple);
	*/
}

article h2 {
	background-color: #333333;
	color: white;
}

#sample {
	position: relative;
	top: 100px;
}

table, td, th {
	border: 1px solid black;
	border-collapse: collapse;
	padding: 5px;
}

tr {
	background-color: lightgray;
}

thead tr {
	background-color: gray;
	color: white;
}

tbody tr:nth-of-type(3) {
	background-color: #eeeeee;
}

tbody tr:first-of-type {
	background-color: darkorange;
}

tbody tr:last-of-type {
	background-color: darkred;
	color: yellow;
}

tbody tr:nth-last-of-type(2) {
	background-color: yellow;
	color: blue;
}

article p:first-of-type {
	color: green;
}

ul > li {
	list-style-type: circle;
}
