<!DOCTYPE html>

<html lang="en-GB">
	
	<head>
		
		<title>MyWebsite Template</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="css/main.css">
	
	</head>
	
	<body>
		
		<header>
			
			<h1>MyWebsite</h1>
			
			<nav>
				<a class="menu-link" href="#">Home</a>
				<a class="menu-link" href="#">About</a>
				<a class="menu-link" href="#">Services</a>
				<a class="menu-link" href="#">Pricing</a>
				<a class="menu-link" href="#">Contact</a>
			</nav>
		
		</header>
		
		<main>
			
			<img class="banner-image" alt="Binary Code" src="img/binary.jpg">
			
			<section id="info-section">
				
				<div class="info-block" id="left-block">
				
					<h2>Left Text</h2>
					
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris euismod iaculis orci, sed faucibus risus feugiat ut. Maecenas ante diam, egestas eu lorem vel, accumsan feugiat tellus. Etiam at congue diam. Fusce volutpat nulla nulla, sit amet tincidunt neque commodo a. Quisque egestas bibendum risus. Vestibulum hendrerit faucibus nibh non pharetra. Vestibulum cursus nibh mauris, sit amet ullamcorper elit porttitor quis. Nunc vitae sem est.
					</p>

					<p>
						Maecenas faucibus accumsan sem, ut commodo tellus varius at. Cras vulputate, felis ut euismod tristique, nisl justo ultrices enim, at gravida elit lacus ut lectus. Pellentesque tristique sit amet tortor id aliquet. Mauris mattis diam metus, ut euismod justo condimentum vitae. Mauris cursus enim nunc, ac auctor urna tincidunt ut. Sed dignissim fermentum enim. Vestibulum vitae sem tellus. In purus nisl, ornare non consequat iaculis, consectetur eget mi. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Quisque fermentum magna eget leo tempus semper. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
					</p>
				
				</div>
				
				<div class="info-block" id="right-block">
					
					<h2>Right Text</h2>
					
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris euismod iaculis orci, sed faucibus risus feugiat ut. Maecenas ante diam, egestas eu lorem vel, accumsan feugiat tellus. Etiam at congue diam. Fusce volutpat nulla nulla, sit amet tincidunt neque commodo a. Quisque egestas bibendum risus. Vestibulum hendrerit faucibus nibh non pharetra. Vestibulum cursus nibh mauris, sit amet ullamcorper elit porttitor quis. Nunc vitae sem est.
					</p>

					<p>
						Maecenas faucibus accumsan sem, ut commodo tellus varius at. Cras vulputate, felis ut euismod tristique, nisl justo ultrices enim, at gravida elit lacus ut lectus. Pellentesque tristique sit amet tortor id aliquet. Mauris mattis diam metus, ut euismod justo condimentum vitae. Mauris cursus enim nunc, ac auctor urna tincidunt ut. Sed dignissim fermentum enim. Vestibulum vitae sem tellus. In purus nisl, ornare non consequat iaculis, consectetur eget mi. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Quisque fermentum magna eget leo tempus semper. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
					</p>
				
				</div>
				
			</section>
			
			<img class="banner-image" alt="Circuit Board" src="img/board.jpg">
		
		</main>
		
		<script> </script>
	
	</body>

</html>
