<!DOCTYPE html>

<html lang="en-GB">
	
	<head>
		
		<title>MyWebsite Template</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="css/main.css">
	
	</head>
	
	<body>
		
		<header>
			
			<h1>MyWebsite</h1>
			
			<nav>
				<a class="menu-link" href="#">Home</a>
				<a class="menu-link" href="#">About</a>
				<a class="menu-link" href="#">Services</a>
				<a class="menu-link" href="#">Pricing</a>
				<a class="menu-link" href="#">Contact</a>
			</nav>
		
		</header>
		
		<script> </script>
	
	</body>

</html>
