body {
	margin: 0;
}

h1 {
	color: #446644;
	font: 5em Century, serif;
	margin: 0;
	padding: 0 0 5px 25px;
}

nav {
	display: flex;
	position: sticky;
	position: -webkit-sticky;
	top: 0;
	z-index: 1;
}

.menu-link {
	flex: 1;
	background-color: #446644;
	color: white;
	text-decoration: none;
	font: 1em Century, serif;
	text-align: center;
	border-top: 2px solid #cfb53b;
	border-bottom: 2px solid #cfb53b;
	padding: 3px 0 5px;
	transition: 0.5s;
}

.menu-link:hover {
	background-color: #aaccaa;
	color: black;
	text-decoration: underline;
	font-weight: bold;
	border-top: 2px solid #446644;
	border-bottom: 2px solid #446644;
}

.banner-image {
	width: 100%;
	opacity: 0.8;
}

.info-section {
	display: flex;
	margin: 20px 0;
	color: #446644;
}

.info-block {
	flex: 1;
	padding: 0 40px;
}

.info-block p {
	text-align: justify;
}

h2 {
	text-align: center;
	margin: 0;
	font: 1.5em normal Century, serif;
}	

#left-block {
	border-right: 1px solid #cfb53b;
}

#right-block {
	border-left: 1px solid #cfb53b;
}

h3 {
	text-align: center;
	margin: 10px;
	font: 1.2em normal Century, serif;
}

.social {
	width: 20%;
	margin: 10px;
}

.center-text {
	text-align: center;
}

.section-box {
	margin: 10px 40px;
	box-shadow: #cfb53b 0 0 5px 5px;
	border-radius: 10px;
}

.text-link, .icon-link {
	text-decoration: none;
}

.text-link:hover {
	text-decoration: underline;
	color: #6666ff;
}

footer {
	background-color: #446644;
	font: 1em Century, serif;
	padding: 3px 0 5px 25px;
	border-top: 2px solid #cfb53b;
	color: white;
}
